# {{ ansible_managed }}

configDirectory=/etc/pihole
installDirectory=/opt/pihole
BLOCKING_ENABLED=true
WEBPASSWORD=
DNSMASQ_LISTENING=local
DNS_FQDN_REQUIRED=true
DNS_BOGUS_PRIV=true
DNSSEC=false
CONDITIONAL_FORWARDING=false
PIHOLE_INTERFACE={{ pihole_interface }}
IPV4_ADDRESS={{ pihole_ipv4 }}
IPV6_ADDRESS={{ pihole_ipv6 }}
PIHOLE_DNS_1={{ pihole_ipv4_dns }}
QUERY_LOGGING=true
INSTALL_WEB_SERVER=true
INSTALL_WEB_INTERFACE=true
LIGHTTPD_ENABLED=true
